.head
  position: absolute
  height: 4%
  top: 0.75rem
  z-index: 1
  font-family: bbkk 
  text-shadow: -2px 2px 4px $shadow-color-text

  &.left
    width: 65%
    left: 0.75rem
  &.right
    width: calc(35% - 6 * 0.75rem)
    right: 0.75rem

  .text
    margin: 0 0 0 1rem
    padding: 0
    color: white
    font-size: 1.05rem
    display: flex
    flex-direction: row
    font-weight: 700
    width: calc(100% - 4rem)
    align-items: center

    .msg
      margin-left: 0.25rem
      font-weight: 400
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

