.ui
  display: flex 
  align-items: center
  background: $background-ui
  border-radius: 2px
  box-shadow: $shadow-color-ui
  font-family: bbkk
  text-shadow: -2px 2px 4px $shadow-color-text
  position: relative
  padding-bottom: 0.15rem

  &:hover
    filter: brightness(125%)

  &.button
    min-width: 1.5rem
    max-width: 1.5rem
    cursor: pointer
    
    .text
      margin: 0 0 0 0.5rem
      .msg
        margin-left: 0

  .text
    margin: 0 3rem 0 1rem
    padding: 0
    color: $text-ui
    font-size: 1.05rem
    display: flex
    flex-direction: row
    font-weight: 700
    width: calc(100% - 4rem)
    align-items: center

    .msg
      margin-left: 0.25rem
      font-weight: 400
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
 
  &:not(.button)::after
    content: 'o'
    position: absolute
    right: 1.25rem
    font-size: 1rem
    color: $text-ui
    opacity: .75

  &.left
    text-align: left
  &.middle
    text-align: center
  &.right
    text-align: right

   
