.ui
  display: flex 
  align-items: center
  background: $background-ui
  border: 0.5rem solid $border-color-ui
  box-shadow: 2px 2px 8px 1px $shadow-color-ui
  
  //&::after
    content: 'O'
    //position: absolute
    //margin-right: 1rem
    font-size: 1rem
    color: $text-ui
    opacity: 0.75

    

  &.left
    text-align: left
  &.middle
    text-align: center
  &.right
    text-align: right
    
