$earth-color: linear-gradient(  45deg, #80B1FF 40%, #9BC3E7 60%)i
$color-dissipe: rgba(165,55,226,0.0675)

// ui
$background-ui: linear-gradient(150deg, rgba(18,20,25,0.9) 40%, rgba(25,34,36,0.9) 45%)
$border-color-ui: rgba(17,17,17,0.25)
$shadow-color-ui: rgba(17,17,17,0.85)
$shadow-color-text: rgba(0,0,0,1)
$text-ui: white
$border-ui: 0.15rem solid rgba(255,255,255,0.025)


// bottombar
$bottombar-location: linear-gradient(150deg, #2B2C37 35%, #1E222A 40%)

// miscelanous
//$select-background-ms: 
