$earth-color: linear-gradient(  45deg, #80B1FF 40%, #9BC3E7 60%)
$color-dissipe: rgba(165,55,226,0.0675)

// ui
$shadow-color-text: rgba(0,0,0,1)
$shadow-color-ui: rgba(17,17,17,.85)
$border-color-ui: rgba(17,17,17,0.25)
