doctype html

html
  head
    title ☁️ Our Home
    // style...
    link(rel='stylesheet' type='text/css' href='/main.css')
  body
    main.clean
      // background : default.sass
      .background

      .headbar
        // quote : headbar.sass
        .head.ui
          .text Message:
            .msg=quotes[0][0]
        // date : headbar.sass
      
        .head.ui
          // british english date
          .text Date:
            #nowaday.msg=nowday
        
      // links
      .section-links
        | l
        each l in Object.keys(links)
          .links(class=`${l}`)
      // city
      .bottombar
        .ui.location.bottom
          .text Local:
            .msg=config.location
        .ui.new-quote.bottom.button
          .text N
        .ui.time.bottom
          .text Time:
            #time.msg
        // last clicked ui
    // time script
    script
      include scripts/time.js
