doctype html

- const date = new Date();
- const options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };

html
  head
    title ☁️ 
    link(rel='stylesheet' type='text/css' href='/main.css')
  body
    main.center.clean
      .background
      .head.ui.left
        .text Message:
          .msg Hello, astronaut!lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
      .head.ui.right
        - const nowday = date.toLocaleString('en-gb', options)
        .text Date:
          .msg=nowday
      .fixes 
        each l in Object.keys(links)
          .links(class=`${l}`)
