doctype html

html
  head
    title ☁️ 
    link(rel='stylesheet' type='text/css' href='/main.css')
  body
    main.center.clean
      .background
      .head
        h1 Hello, astronaut!
      .fixes 
        each l in Object.keys(links)
          .links(class=`${l}`)
