doctype html

html
  head
    title ☁️ Our Home
    // style...
    link(rel='stylesheet' type='text/css' href='/main.css')
  body
    main.clean
      // background : default.sass
      .background

      .headbar
        // quote : headbar.sass
        .head.ui
          .text
            .alt Message:
            #nowquote.msg
        // date : headbar.sass
      
        .head.ui
          // british english date
          .text
            .alt Date:
            #nowaday.msg
        
      // links
      .section-links
        | l
        each l in Object.keys(links)
          .links(class=`${l}`)
      // city
      .bottombar
        .ui.location.bottom
          .text
            .alt Local:
            .msg=config.location
        .ui.time.bottom
          .text
            .alt Time:
            #time.msg
        // if author exists
        #author-container.ui.time.bottom
          .text
            .alt Author:
            #nowauthor.msg
        // if source exists
        #source-container.ui.time.bottom
          .text
            .alt Source:
            #nowsource.msg
        // last clicked ui
    // time script
    script
      include scripts/vars.js
      include scripts/time.js
      each l, index in quotes
        | qts.push([]);
        each o in l
          | qts[#{index}].push("#{o}");
      include scripts/quotes.js
